* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
⇝
html, body {
  height: 100%;
  font-family: inter, sans-serif;
  display: flex;
  overflow-x: hidden;
  --size-of-font: clamp(0.3rem, 1vw, 1.5rem);
}

#left{
  background: #F7F8FC;
  width: clamp(10rem, 20%, 20rem);

  max-width: 20rem;
  height: 100vh;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.left-top{
  --size: clamp(0.5rem, 2vw, 1.1rem);
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.color{
  height: var(--size);
  width: var(--size);
  border: none;
  border-radius: 50%;
}

.red {
  background-color: #FB4D47;
}
.yellow {
  background-color: #FCC022;
}
.green{
  background-color: #7CD41D;
}

.red:hover , .green:hover , .yellow:hover {
 cursor: pointer;
 filter: brightness(0.9);
}

.menu{
  height: calc(var(--size) + 0.2rem);
}

.menuu{
  position: relative;
}

.menu-btn{
  background: none;
  border: none;
}

.menu:hover{
  cursor: pointer;
}

.popover-menu{
  border: none;
  /* background-color: turquoise; */
  padding: clamp(0.2rem, 8vw, 0.5rem);
  gap: clamp(0.1rem, 4vw, 0.8rem);
  font-size: clamp(0.5rem, 1.2vw, 2rem);

  position: absolute;
  top: 1rem;
  left: -2.8rem;
  opacity: 0.8;
  border-radius: 10%;
  display: none;
  background-color: white;
  color: black
}

.popover-menu a{
  color: black;
  font-weight: 500;
}

.popover-menu.show {
  display: block;

}


.popover-menu ul{
  display: flex;
  flex-direction: column;
  gap: clamp(0.2rem, 2vw, 0.3rem);
  list-style: none;
}

.popover-menu ul li{
  /* background-color: red; */
  padding: clamp(0.1rem, 0.1vw, 0.3rem);
  border-radius: 0.2rem;
  text-align: center;
}

.popover-menu ul li:hover{
  box-shadow: rgb(240, 236, 236) 2px 2px 4px;
  background-color: gray;
  opacity: 1;
  color: white;
   
}

.popover-menu ul li a:hover{
    color: white;
  }

a {
  text-decoration: none;
}

/* middle */
.left-middle{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
}


/*  ---navigation---   */

.first-nav{
  --logos: clamp(0.8rem, 2vw, 1.2rem);
  font-size: calc(var(--logos) - 0.1rem);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 45rem;
  /* background-color: #7CD41D; */
  
}

.first-nav ul {
/*  margin-left: 20%; */
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first-nav ul li a {
  text-decoration: none;
  font-weight: 500;
}

.first-nav ul li a:hover {
  text-decoration: none;
  color: #613CE6;
  text-shadow: 2px 2px 4px rgba(74, 38, 207, 0.3);
}


a, button {
  -webkit-tap-highlight-color: transparent;
  background: none;
}

a:focus,
a:active,
a:focus-visible {
  outline: none;
  box-shadow: none;
}



.first-nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:0.7em;
}



/* ------nav links ka icons----- */

.inbox-logo, .anytime-logo, .trash-logo,.today-logo, .upcoming-logo, .someday-logo{
  
  height: var(--logos);
}

/* left side bottom part */

#add-task{
  background: #613CE6;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(2rem, 4vw, 3rem);
  height: clamp(2rem, 4vw, 3rem);
  border-radius: 30%;
  border-top-left-radius: 0%;
  color: white;
  text-decoration: none;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

#add-task:hover{
  background: #613CE6;
  opacity: 0.8;
  filter: brightness(0.9);
  cursor: pointer;
} 



/* middle section */

#middle {
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem 0rem;
    
}

.middle-top h1{
  margin: 1rem 2rem;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.list, .middle-top {
  width: 100%;
}

.list ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  background-color: seagreen;
  list-style: none;
  font-size: calc(var(--size-of-font) + 0.3rem);
  font-weight: 500;
  color: #baace4;
  
  border-bottom:gray 1px solid;
}

.list ul li {
 background-color: #FCC022;
 padding: clamp(0.4rem, 1vw, 1.7rem);

 display: flex;
 align-items: center;
 justify-content: center;
}

.list ul li:hover {
  cursor: pointer;
  color: #613CE6;
  text-shadow: 2px 2px 4px rgba(74, 38, 207, 0.3);
  
}

.list ul li.active{
  border-bottom: #613CE6 2px solid;
}



/* .list ul li:first-child{
  border-bottom: #613CE6 2px solid;
} */


/* .list ul{
    display: flex;
    gap: 1rem;
    background-color: seagreen;
    width: 100%;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.list ul li {
    list-style: none;
    cursor: pointer;
    background-color: #FCC022;
    padding: 2rem;
    width: 100%;
    color: rgb(78, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;

} */

#all-tasks-active {
    background-color: #baace4;
    color: #613CE6;
    padding: clamp(0.3rem, 0.8vw, 0.7rem);
    border-radius: 39%;
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    font-weight: 700;
    margin: 0.4rem;
}

/* tasks section */
.tasks ul{
  display: grid;
  grid-auto-rows: minmax(5rem, auto);
  grid-auto-columns: 16rem;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: #FCC022;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.task{
  list-style: none;
  background-color: #FB4D47;
  padding: 1rem 0.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* justify-content: flex-start;
  align-items: flex-start; */
}

.task-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-top-left{
  display: flex;
  gap: 0.4em;
  justify-content: center;
  align-items: center;
}

.menu-of-task-1{
  height: 1rem;
  
}

.task-title{
  font-size: var(--size-of-font);
}

.description{
  /* font-size: calc(var(--size-of-font) - 0.1rem); */
  font-size: clamp(0.4rem, 80%, 0.9rem);
  /* padding: 0.5rem 0.2rem; */
  opacity: 0.8;
  z-index: 1;
}

.time{
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  font-weight: 650;
}

.btn-of-edit{
  background: none;
  border: none;
 
}

.menu-of-task-wrapper{
  position: relative;
}

.popover-task1{
  display: none;
  position: absolute;
  left: -2rem;
  top: -0.3rem;
  /* background-color: white; */
  border-radius: 0.5rem;
  padding: 0.1rem;
  z-index: 998;
}

.popover-task1 ul{
  list-style: none;
  font-size: clamp(0.5rem, 1vw, 0.9rem);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding:  clamp(0.2rem, 0.3vw, 0.4rem);
  gap: 0.1rem;
  background-color: white;
  z-index: 999;
}

/* .popover-task1 ul li{
  padding: 0rem;
  text-align: center;
  padding: clamp(0.2rem, 0.2vw, 0.4rem);
  z-index: 1000;
  background: none;
} */

/* .popover-task1 ul li:hover{
  background: gray;
  color: black;
  border-radius: 0.2rem;
  cursor: pointer;
  
} */

.taskmenu{
  padding: 0rem;
  text-align: center;
  padding: clamp(0.2rem, 0.2vw, 0.4rem);
  z-index: 1000;
  background: none;
  width: 100%;
}



.taskmenu:hover{
  background: gray;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-of-edit:hover{
  cursor: pointer;
}

.popover-task1.show{
  display: block;
}

/* -----------Form------------ */

.add-task{
  display: none;
}

.add-task.active{
  display: block;
  z-index: 10000;
}

#add-task-form{
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem,1vw,1rem);
  padding: clamp(0.5rem, 1vw, 1rem);
  background-color: rgb(214, 209, 209);
  border-radius: clamp(0.5rem, 1vw, 1rem);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: max-content;
}

#add-task-form input,textarea,select,button{
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: clamp(0.5rem, 1vw, 1.2rem);
}

#add-task-form label{
  font-size: clamp(0.5rem, 1vw, 1.2rem);
}



@media (max-width: 562px){
    #left{
      display: none;
    }

}

@media (max-width: 1090px){
    .tasks ul{
      grid-template-columns: repeat(auto-fill, 16rem);
      /* justify-content: start; */
    }

    .popover-menu{
      left: -1.8rem;

    }
  
}

@media (min-width: 2020px){
    .tasks ul{
      grid-template-columns: repeat(auto-fill, 22rem);
      /* justify-content: start; */
    }

  

}

@media (max-width: 773px){
    .tasks ul{
      grid-template-columns: repeat(auto-fit, 14rem);
    }
    
    .tasks ul{
      justify-content: center;
      align-items: center;
    }
}