* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
⇝
html, body {
  height: 100%;
}

#left{
  background: #F7F8FC;
  width: 45%;
  height: 100vh;
}

.left-top{
  --size: 0.5rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  
  padding: 0.5rem;
}

.color{
  height: var(--size);
  width: var(--size);
  border: none;
  border-radius: 50%;
}

.red {
  background-color: #FB4D47;
}
.yellow {
  background-color: #FCC022;
}
.green{
  background-color: #7CD41D;
}

.menu{
  height: calc(var(--size) - 0rem);
}

/* middle */
.left-middle{
  display: flex;
  gap: 2rem;
}


/*  ---navigation---   */

.first-nav{
  --logos: 0.8rem;
  font-size: calc(var(--logos) - 0.1rem);
  padding-top: 1rem;
}

.first-nav ul {
/*  margin-left: 20%; */
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first-nav ul li a {
  text-decoration: none;
  font-weight: 470;
}

.first-nav ul li a:hover {
  text-decoration: none;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active,
a:focus-visible {
  outline: none;
  box-shadow: none;
}

a:focus{
  color: red;
}

.first-nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:0.7em;
}



/* ------nav links ka icons----- */

.inbox-logo, .anytime-logo, .trash-logo,.today-logo, .upcoming-logo, .someday-logo{
  
  height: var(--logos);
}

/* left side bottom part */

#add-task{
  background: red;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1rem;
}
